/.vscode/
.idea

.DS_Store

# data
tmp/*
pb_data/*

# goreleaser builds folder
/.builds/

# ui builds folder
/ui/dist/*

# tests coverage
coverage.out

# plaintask todo files
*.todo

# generated markdown previews
README.html
CHANGELOG.html
LICENSE.html
